.casella {
    min-width: 100px;
    height: 200px;
    border: 1px solid black;
}

#win {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

#win table {
    width: 80%;
    min-width: 400px;
    margin-top: 50px;
    margin-left: 10%;
}

#win table * {
    font-size: 25px;
    color: white;
}

#win table td {
    border: 1px solid green;
    text-align: center;
}

#win button {
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 40px;
}